footer.footer
    .container
        .row
            .col.col-10.offset-1
                ul.nav.justify-content-between.footer__nav
                    li.nav-item
                        a.nav-link(href="javascript:void(0)") Account
                    li.nav-item
                        a.nav-link(href="javascript:void(0)") My ticket
                    li.nav-item
                        a.nav-link(href="javascript:void(0)") Support
                    li.nav-item
                        a.nav-link(href="javascript:void(0)") Cooperation
                    li.nav-item
                        a.nav-link(href="javascript:void(0)") Servises
                    li.nav-item
                        a.nav-link(href="javascript:void(0)") Blog
        hr
        .row
            .col.col-10.offset-1
                .d-flex.justify-content-between.footer__card
                    ul.nav.flex-column
                        p.nav__head Most popular
                        li.nav-item
                            a.nav-link(href="javascript:void(0)") Countries
                        li.nav-item
                            a.nav-link(href="javascript:void(0)") Regions
                        li.nav-item
                            a.nav-link(href="javascript:void(0)") Cities
                        li.nav-item
                            a.nav-link(href="javascript:void(0)") Hotels
                        li.nav-item
                            a.nav-link(href="javascript:void(0)") Places of interest
                    ul.nav.flex-column
                        p.nav__head Special offers
                        li.nav-item
                            a.nav-link(href="javascript:void(0)") Holiday rentals
                        li.nav-item
                            a.nav-link(href="javascript:void(0)") Order child support
                        li.nav-item
                            a.nav-link(href="javascript:void(0)") Food
                        li.nav-item
                            a.nav-link(href="javascript:void(0)") Charter services
                        li.nav-item
                            a.nav-link(href="javascript:void(0)") Freight transportation
                    ul.nav.flex-column
                        p.nav__head About us
                        li.nav-item
                            a.nav-link(href="javascript:void(0)") Who we are
                        li.nav-item
                            a.nav-link(href="javascript:void(0)") General conditions
                        li.nav-item
                            a.nav-link(href="javascript:void(0)") Privacy policy
                        li.nav-item
                            a.nav-link(href="javascript:void(0)") Cookies policy
                        li.nav-item
                            a.nav-link(href="javascript:void(0)") Press area
                    ul.nav.flex-column
                        p.nav__head Useful information
                        li.nav-item
                            a.nav-link(href="javascript:void(0)") FAQ
                        li.nav-item
                            a.nav-link(href="javascript:void(0)") Contact us
                        li.nav-item
                            a.nav-link(href="javascript:void(0)") Airline information
                        li.nav-item
                            a.nav-link(href="javascript:void(0)") Cheap car hire
                        li.nav-item
                            a.nav-link(href="javascript:void(0)") Top flight destinations
        .row
            .col.col-10.offset-1
                .footer__info
                    .mobile.d-flex.align-items-center
                        p Download mobile app
                        a(href="javascript:void(0)")
                            i.fab.fa-apple
                        a(href="javascript:void(0)")
                            i.fab.fa-android
                        a(href="javascript:void(0)")
                            i.fab.fa-windows
                    .social.d-flex.align-items-center
                        p Look for us
                        a(href="javascript:void(0)")
                            i.fab.fa-viber
                        a(href="javascript:void(0)")
                            i.fab.fa-instagram
                        a(href="javascript:void(0)")
                            i.fab.fa-facebook-f
                        a(href="javascript:void(0)")
                            i.fab.fa-twitter
        hr
        .row
            .col.col-12
                p.footer__rights
                    span &#169; 2018 
                    span.footer__rights--logo
                        a(href="javascript:void(0)") speed air 
                    span of Harrogate Ltd. All Rights Reserved.