footer.footer
    .container
        .row
            .col.col-10.offset-1
                ul.nav.justify-content-between.footer__nav
                    li.nav-item
                        a.nav-link(href="#") Account
                    li.nav-item
                        a.nav-link(href="#") My ticket
                    li.nav-item
                        a.nav-link(href="#") Support
                    li.nav-item
                        a.nav-link(href="#") Cooperation
                    li.nav-item
                        a.nav-link(href="#") Servises
                    li.nav-item
                        a.nav-link(href="#") Blog
        hr
        .row
            .col.col-10.offset-1
                .d-flex.justify-content-between.footer__card
                    ul.nav.flex-column
                        p.nav__head Most popular
                        li.nav-item
                            a.nav-link(href="#") Countries
                        li.nav-item
                            a.nav-link(href="#") Regions
                        li.nav-item
                            a.nav-link(href="#") Cities
                        li.nav-item
                            a.nav-link(href="#") Hotels
                        li.nav-item
                            a.nav-link(href="#") Places of interest
                    ul.nav.flex-column
                        p.nav__head Special offers
                        li.nav-item
                            a.nav-link(href="#") Holiday rentals
                        li.nav-item
                            a.nav-link(href="#") Order child support
                        li.nav-item
                            a.nav-link(href="#") Food
                        li.nav-item
                            a.nav-link(href="#") Charter services
                        li.nav-item
                            a.nav-link(href="#") Freight transportation
                    ul.nav.flex-column
                        p.nav__head About us
                        li.nav-item
                            a.nav-link(href="#") Who we are
                        li.nav-item
                            a.nav-link(href="#") General conditions
                        li.nav-item
                            a.nav-link(href="#") Privacy policy
                        li.nav-item
                            a.nav-link(href="#") Cookies policy
                        li.nav-item
                            a.nav-link(href="#") Press area
                    ul.nav.flex-column
                        p.nav__head Useful information
                        li.nav-item
                            a.nav-link(href="#") FAQ
                        li.nav-item
                            a.nav-link(href="#") Contact us
                        li.nav-item
                            a.nav-link(href="#") Airline information
                        li.nav-item
                            a.nav-link(href="#") Cheap car hire
                        li.nav-item
                            a.nav-link(href="#") Top flight destinations
        .row
            .col.col-10.offset-1
                .footer__info
                    .mobile.d-flex.align-items-center
                        p Download mobile app
                        a(href="http://")
                            i.fab.fa-apple
                        a(href="http://")
                            i.fab.fa-android
                        a(href="http://")
                            i.fab.fa-windows
                    .social.d-flex.align-items-center
                        p Look for us
                        a(href="http://")
                            i.fab.fa-viber
                        a(href="http://")
                            i.fab.fa-instagram
                        a(href="http://")
                            i.fab.fa-facebook-f
                        a(href="http://")
                            i.fab.fa-twitter
        hr
        .row
            .col.col-12
                p.footer__rights
                    span &#169; 2018 
                    span.footer__rights--logo
                        a(href="") speed air 
                    span of Harrogate Ltd. All Rights Reserved.