header.header
    .container
        .row
            .col.col-12
                .d-flex.justify-content-between
                    .logo
                        p.logo__p speed air
                    .call
                        p.call__number Call to book  +44 203 499 8517
        .row
            .col.col-12
                ul.nav.justify-content-end
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(data-toggle="dropdown" data-display="static" href="#" role="button" aria-haspopup="true" aria-expanded="false") Account
                        .dropdown-menu
                            a.dropdown-item(href="#") Sing in
                            a.dropdown-item(href="#") Sing up
                            .dropdown-divider
                            a.dropdown-item(href="#") Business
                            a.dropdown-item(href="#") Company
                    li.nav-item
                        a.nav-link(href="#") My lists
                    li.nav-item
                        a.nav-link(href="#") My trips
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(data-toggle="dropdown" data-display="static" href="#" role="button" aria-haspopup="true" aria-expanded="false") En
                        .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href="#") Rus
                            a.dropdown-item(href="#") Ukr
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(data-toggle="dropdown" data-display="static" href="#" role="button" aria-haspopup="true" aria-expanded="false") USD
                        .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href="#") RUB
                            a.dropdown-item(href="#") UAH
