.travel_deals
    .container
        .row
            .col.col-12
                h2 Like travel deals?
        .row
            .col.col-5
                p.offers Enter E-mail and we’ll send you best offers
                .d-flex.justify-content-between
                    p Airline discounts
                    .circle
                    p The best prices
                    .circle
                    p New directions
                form.form-inline
                    .form-group.mb-2
                        label(for="E-mail2" class="sr-only") E-mail
                        input(type="e-mail" class="form-control" id="E-mail2" placeholder="E-mail")
                    button(type="submit" class="btn btn-primary mx-sm-3 mb-2") Send
                p Your privacy is important to us, so we'll never spam you or share your info with third parties. Take a look at our privacy policy. And, we'd be sad to see you go, but you can unsubscribe at any time.