.mob_app {
    background: linear-gradient(to left, #172957, #3254AB);
    margin-bottom: 102px;
    padding-top: 20px;
    padding-bottom: 41px;

    .mobile_img {
        
        img {
            width: 295px;
            position: absolute;
            left: 23%;
            top: -72%;
        }
    }
    .download, .marks, .devices {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }
    .download {

        p {
            font-family: $font-primary;
            font-size: 30px;
            font-weight: 400;
            color: #ffffff;
            margin: 0;
        }
        a {
            display: flex;

            img {
                width: 195px;
            }
        }
    }
    p {
        font-family: $font-secondary;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        margin: 0;
    }
    a:hover {
        text-decoration: none;
        color: $color-secondary;
    }
    .marks {

        &__star {
            display: flex;
        }
    }
    .devices {
        padding-top: 50px;

        &__element {
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: 0.5s linear;

            i {
                font-size: 30px;
                margin-right: 8px;
                margin-left: -5px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 11px;
                width: 40px;
                height: 40px;
                text-decoration: none;
                text-align: center;
            }
        }
        &__element:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            p {
                color: $color-secondary;
            }
            i {
                color: $color-secondary;
            }
        }
    }
}