.services {
    padding-bottom: 140px;

    .title {
        z-index: -100;
        margin-bottom: -68px;

        p {
            font-family: $font-primary;
            font-size: 140px;
            text-transform: uppercase;
            font-weight: 800;
            color: #F2F2F2;
            margin: 0;
            margin-bottom: -65px;
            text-align: center;
        }
    }

    .swiper-container-1 {
      width: 1140px;
      height: 285px;
      margin: 0 auto;
      overflow: hidden;
    
        .swiper-slide {
        text-align: center;
        font-size: 18px;
        height: 100%;
        transition: 0.5s linear;

            img {
                width: 360px;
                height: 220px;
                position: relative;
            }
            .discr {
                position: absolute;
                top: 150px;
                left: 15px;
                text-align: left;
                text-decoration: none;

                h2 {
                    font-family: $font-primary;
                    font-size: 20px;
                    font-weight: 400;
                    color: #ffffff; 
                }
                p {
                    font-family: $font-primary;
                    font-size: $font-size-secondary;
                    font-weight: 400;
                    color: #ffffff;
                }
            }
        }
        .swiper-slide:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            
            img {
                box-shadow: 0 0 15px #172957;
            }
        }

        .swiper-button-next {
            right: 14px;
        }
        .swiper-button-prev {
            left: auto;
            right: 70px;
        }
        .slider__btn {
            background-size: 9px 16px;
            height: 40px;
            width: 40px;
            top: 92%;
            stroke: #E0E0E0;
            border: 1px solid #E0E0E0;
            border-radius: 3px;
            padding: 7px
        }
        .slider-3__btn:hover {
            border-color: #27ae60
        }
        
        .swiper-button-next:hover {
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%2330804f'%2F%3E%3C%2Fsvg%3E")
        }
        
        .swiper-button-prev:hover {
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%2330804f'%2F%3E%3C%2Fsvg%3E")
        }
    }
}