.travel_deals {
    background-image: url(../images/Like_to_travel.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

    h2 {
        padding-top: 100px;
        padding-bottom: 85px;
        font-family: $font-secondary;
        font-size: 80px;
        font-weight: 900;
        color: white;
    }

    .offers {
        font-family: $font-primary;
        font-size: 12px;
        font-weight: 300;
        color: white;
        text-transform: uppercase;
    }
    .mail_discrip {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;

        p {
            font-family: $font-primary;
            font-size: 16px;
            font-weight: 400;
        }

        .circle {
            width: 5px;
            height: 5px;
            background-color: #fff;
            border-radius: 50%;
            margin-bottom: 18px;
        }
    }

    .mail_form {
        padding-top: 10px;
        padding-bottom: 5px;

        input {
            padding: 10px;
            border-radius: 3px;
            border: none;
            width: 265px;
            margin-right: $gutter;
        }

        &__btn {
            font-family: $font-secondary;
            font-size: 18px;
            font-weight: 400;
            color: white;
            background-color: $color-secondary;
            border: none;
            border-radius: 3px;
            padding: 9px 52px;
            cursor: pointer;
        }
    }

    .privacy {
        padding-top: 10px;
        font-family: $font-primary;
        font-size: 12px;
        font-weight: 300;
        color: white;
        letter-spacing: 0.2px;
        padding-bottom: 100px;
    }
}