extends ./layout.pug

block title
    title Speed Air

block main
    include ./main/_support.pug
    include ./main/_calculator.pug
    include ./main/_offers.pug
    include ./main/_servises.pug
    include ./main/_faq.pug
    include ./main/_mob_app.pug
    include ./main/_advantages.pug
                 
    