.advantages
    .container
        .row
            .col.col-6
                h3 Our advantages
                a.advance(href="javascript:void(0)")
                    .advance__img
                        img(src="./images/bag.svg", alt="")
                    .advance__txt
                        h6 The largest portfolio of travel services
                        p The site has everything you need to organize any trip. You can buy tickets, book a hotel, purchase insurance, book a transfer or rent a car. Book online, save time and money.
                a.advance(href="javascript:void(0)")
                    .advance__img
                        img(src="./images/call.svg", alt="")
                    .advance__txt
                        h6 Customer support at all stages of the purchase
                        p 24 hours a day, 7 days a week, we are ready to advise you on all issues related to the purchase of air tickets and other services on the website. Our operators will answer you in English, Russian and German.
                a.advance(href="javascript:void(0)")
                    .advance__img
                        img(src="./images/T.svg", alt="")
                    .advance__txt
                        h6 Loyalty program for regular customers
                        p Become a member of the Bonus Program and accumulate bonuses, buying even cheap air tickets. With each purchase, you earn bonuses that you can pay for new tickets.
                a.advance(href="javascript:void(0)")
                    .advance__img
                        img(src="./images/label.svg", alt="")
                    .advance__txt
                        h6 Chip flights
                        p Book cheap air tickets on our website. We cooperate with 750 airlines and will find you a ticket for any destination at the lowest price. The search engine quickly processes your requests and issues all available flights.
            .col.col-6
                .revievs
                    h3 Reviews
                    .swiper-container-3
                        .swiper-wrapper
                            .swiper-slide
                                .reviev
                                    .reviev__person
                                        img(src="./images/photo1.jpg", alt="")
                                        p Alize N
                                    .reviev__content
                                        .reviev__content--mark
                                            .star
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                            p 22, Mar, 2018
                                        p Have a wonderful week of honeymoon. This hotel is only for those over 16 years old. All very ...
                                    a(href="javascript:void(0)") more
                                .reviev
                                    .reviev__person
                                        img(src="./images/photo2.jpg", alt="")
                                        p Ashley S
                                    .reviev__content
                                        .reviev__content--mark
                                            .star
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/grey_star.svg", alt="")
                                            p 03, Apr, 2018
                                        p The first impression from Coraya is an absolutely European level of service. The staff is well-trained ...
                                    a(href="javascript:void(0)") more
                                .reviev
                                    .reviev__person
                                        img(src="./images/photo3.jpg", alt="")
                                        p Nico W
                                    .reviev__content
                                        .reviev__content--mark
                                            .star
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                            p 06, Apr, 2018
                                        p I had many prejudices and doubts about whether to go to Egypt in general, but the interest to see the ...
                                    a(href="javascript:void(0)") more
                            .swiper-slide
                                .reviev
                                    .reviev__person
                                        img(src="./images/photo1.jpg", alt="")
                                        p Alize N
                                    .reviev__content
                                        .reviev__content--mark
                                            .star
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                            p 22, Mar, 2018
                                        p Have a wonderful week of honeymoon. This hotel is only for those over 16 years old. All very ...
                                    a(href="javascript:void(0)") more
                                .reviev
                                    .reviev__person
                                        img(src="./images/photo2.jpg", alt="")
                                        p Ashley S
                                    .reviev__content
                                        .reviev__content--mark
                                            .star
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/grey_star.svg", alt="")
                                            p 03, Apr, 2018
                                        p The first impression from Coraya is an absolutely European level of service. The staff is well-trained ...
                                    a(href="javascript:void(0)") more
                                .reviev
                                    .reviev__person
                                        img(src="./images/photo3.jpg", alt="")
                                        p Nico W
                                    .reviev__content
                                        .reviev__content--mark
                                            .star
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                            p 06, Apr, 2018
                                        p I had many prejudices and doubts about whether to go to Egypt in general, but the interest to see the ...
                                    a(href="javascript:void(0)") more
                            .swiper-slide
                                .reviev
                                    .reviev__person
                                        img(src="./images/photo1.jpg", alt="")
                                        p Alize N
                                    .reviev__content
                                        .reviev__content--mark
                                            .star
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                            p 22, Mar, 2018
                                        p Have a wonderful week of honeymoon. This hotel is only for those over 16 years old. All very ...
                                    a(href="javascript:void(0)") more
                                .reviev
                                    .reviev__person
                                        img(src="./images/photo2.jpg", alt="")
                                        p Ashley S
                                    .reviev__content
                                        .reviev__content--mark
                                            .star
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/grey_star.svg", alt="")
                                            p 03, Apr, 2018
                                        p The first impression from Coraya is an absolutely European level of service. The staff is well-trained ...
                                    a(href="javascript:void(0)") more
                                .reviev
                                    .reviev__person
                                        img(src="./images/photo3.jpg", alt="")
                                        p Nico W
                                    .reviev__content
                                        .reviev__content--mark
                                            .star
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                            p 06, Apr, 2018
                                        p I had many prejudices and doubts about whether to go to Egypt in general, but the interest to see the ...
                                    a(href="javascript:void(0)") more
                            .swiper-slide
                                .reviev
                                    .reviev__person
                                        img(src="./images/photo1.jpg", alt="")
                                        p Alize N
                                    .reviev__content
                                        .reviev__content--mark
                                            .star
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                            p 22, Mar, 2018
                                        p Have a wonderful week of honeymoon. This hotel is only for those over 16 years old. All very ...
                                    a(href="javascript:void(0)") more
                                .reviev
                                    .reviev__person
                                        img(src="./images/photo2.jpg", alt="")
                                        p Ashley S
                                    .reviev__content
                                        .reviev__content--mark
                                            .star
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/grey_star.svg", alt="")
                                            p 03, Apr, 2018
                                        p The first impression from Coraya is an absolutely European level of service. The staff is well-trained ...
                                    a(href="javascript:void(0)") more
                                .reviev
                                    .reviev__person
                                        img(src="./images/photo3.jpg", alt="")
                                        p Nico W
                                    .reviev__content
                                        .reviev__content--mark
                                            .star
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                                img(src="./images/star.svg", alt="")
                                            p 06, Apr, 2018
                                        p I had many prejudices and doubts about whether to go to Egypt in general, but the interest to see the ...
                                    a(href="javascript:void(0)") more
                        //- <!-- Add Pagination -->
                        .swiper-pagination