.calculator
    .container
        .row
            .col.col-10.offset-1
                p.bunner Best prices and comfort for you
        .row
           .col.col-10.offset-1
                .tickets
                    .tickets__category
                        p Tourist
                        p Business
                        p Company
                    .tickets__search
                        .row
                            .col.col-4
                                input(type="text" id="dynamic-label-input" placeholder="Enter some text")
                                label(for="dynamic-label-input") Enter some text
                            .col.col-4
                                input(type="text" id="dynamic-label-input" placeholder="Enter some text")
                                label(for="dynamic-label-input") Enter some text
                            .col.col-2
                                <form>
                                    p Choose date: 
                                    input(type="date" name="calendar" value="2012-06-01" max="2012-06-04" min="2012-05-29")
                                    input(type="submit" value="Отправить")
                            .col.col-2
                                <form>
                                    p Choose date: 
                                    input(type="date" name="calendar" value="2012-06-01" max="2012-06-04" min="2012-05-29")
                                    input(type="submit" value="Отправить")