.calculator
	.container
		.row
			.col.col-10.offset-1
				.swiper-container-0
					.swiper-wrapper
						.swiper-slide
							p Best prices and comfort for you
						.swiper-slide
							p A lot of interesting offers
						.swiper-slide
							p Regular promotions and discounts
						.swiper-slide
							p Everything you wish is here!
		.row
			.col.col-10.offset-1
				.tabs
					ul.tabs__caption
						li.active Tourist
						li Business
						li Company
		.row
			.col.col-10.offset-1
				.tabs__content.active
					.form-group
						input.form-control(type="text" id="name" required)
						label.form-control-placeholder(for="name") Living from
						i.fas.fa-map-marker-alt
					.form-group
						input.form-control(type="text" id="name" required)
						label.form-control-placeholder(for="name") Going to
						i.fas.fa-map-marker-alt
					.calendar-group
						input.calendar-control.calendar(type="text" id="datepicker")
						.label
							i.fas.fa-calendar-alt
							label.calendar-control-placeholder(for="name") Living on
					.calendar-group
						input.calendar-control.calendar(type="text" id="datepicker-1")
						.label
							i.fas.fa-calendar-alt
							label.calendar-control-placeholder(for="name") Returning on
					.options
						button.active
							.img
								img(src="./images/002-plane.svg", alt="")
							p Flight only
						button
							.img
								img(src="./images/002-plane.svg", alt="")
								img(src="./images/003-hotel.svg", alt="")
							p Flight+Hotel
						button
							.img
								img(src="./images/002-plane.svg", alt="")
								img(src="./images/001-car.svg", alt="")
							p Flight+Car
						button
							.img
								img(src="./images/002-plane.svg", alt="")
								img(src="./images/003-hotel.svg", alt="")
								img(src="./images/001-car.svg", alt="")
							p Flight+Hotel+Car
					button.go
						p Search
						img.arrow(src="./images/arrow.svg", alt="")
					.results
						p 108 results
				.tabs__content
					
				.tabs__content
					
		.row
			.col.col-10.offset-1
				.advanced_options
					p Advanced options
					img.arrow(src="./images/arrow.svg", alt="")
				.advanced_options__show
					.check
						.checkbox
							input(type="checkbox" name="terms" id="check")
							label(for="check")
								i.fas.fa-utensils
								span Food
						.checkbox
								input(type="checkbox" name="terms" id="check-1")
								label(for="check-1")
									i.fas.fa-carrot
									span Vegetarian
						.checkbox
								input(type="checkbox" name="terms" id="check-2")
								label(for="check-2")
									i.fas.fa-baby
									span Baby sit
						.checkbox
								input(type="checkbox" name="terms" id="check-3")
								label(for="check-3")
									i.fas.fa-wine-glass-alt
									span Alcohol
						.checkbox
								input(type="checkbox" name="terms" id="check-4")
								label(for="check-4")
									i.fas.fa-couch
									span Seats