.calculator
    .container
        .row
            .col.col-10.offset-1
                .swiper-container-0
                    .swiper-wrapper
                        .swiper-slide
                            p Best prices and comfort for you
                        .swiper-slide
                            p A lot of interesting offers
                        .swiper-slide
                            p Regular promotions and discounts
                        .swiper-slide
                            p Everything you wish is here!
        .row
           .col.col-10.offset-1
                .tabs
                    ul.tabs__caption
                        li.active Tourist
                        li Business
                        li Company
        .row
            .col.col-10.offset-1
                .tabs__content.active
                    input.city(type="text" id="dynamic-label-input" placeholder="Enter some text")
                    //- label(for="dynamic-label-input") Enter some text
                    input.city(type="text" id="dynamic-label-input" placeholder="Enter some text")
                    //- label(for="dynamic-label-input") Enter some text
                    //- input.calendar(type="date" name="calendar" value="2012-06-01")
                    //- input.calendar(type="date" name="calendar" value="2012-06-01")
                    input.calendar(type="text" id="datepicker")
                    input.calendar(type="text" id="datepicker-1")    
                    //- input(type="radio" id="contactChoice1" name="contact" value="email")
                    //- label(for="contactChoice1")
                    //-     .img
                    //-         img(src="./images/002-plane.svg", alt="")
                    //-         img(src="./images/003-hotel.svg", alt="")
                    //-     p Flight+Hotel
                    .options
                        button.active
                            .img
                                img(src="./images/002-plane.svg", alt="")
                            p Flight only
                        button
                            .img
                                img(src="./images/002-plane.svg", alt="")
                                img(src="./images/003-hotel.svg", alt="")
                            p Flight+Hotel
                        button
                            .img
                                img(src="./images/002-plane.svg", alt="")
                                img(src="./images/001-car.svg", alt="")
                            p Flight+Car
                        button
                            .img
                                img(src="./images/002-plane.svg", alt="")
                                img(src="./images/003-hotel.svg", alt="")
                                img(src="./images/001-car.svg", alt="")
                            p Flight+Hotel+Car
                    button.go
                        p Search
                        img.arrow(src="./images/arrow.svg", alt="")
                    .results
                        p 108 results
                .tabs__content
                    
                .tabs__content
                    
        .row
            .col.col-10.offset-1
                .advanced_options
                    p Advanced options
                    img.arrow(src="./images/arrow.svg", alt="")
                .advanced_options__show
                        button.options.active
                            .img
                                img(src="./images/002-plane.svg", alt="")
                            p Flight only
                        button.options
                            .img
                                img(src="./images/002-plane.svg", alt="")
                                img(src="./images/003-hotel.svg", alt="")
                            p Flight+Hotel
                        button.options
                            .img
                                img(src="./images/002-plane.svg", alt="")
                                img(src="./images/001-car.svg", alt="")
                            p Flight+Car
                        button.options
                            .img
                                img(src="./images/002-plane.svg", alt="")
                                img(src="./images/003-hotel.svg", alt="")
                                img(src="./images/001-car.svg", alt="")
                            p Flight+Hotel+Car
                        button.go
                            p Search
                            img.arrow(src="./images/arrow.svg", alt="")
                        .results
                            p 108 results                   