.faq
    .container
        .row
            .col.col-12
                .title
                    p FAQ
        .row
            .col.col-6
                .swiper-container-2
                    .swiper-wrapper
                        .swiper-slide
                            .question__content(id="accordion")
                                h6 What is an e-ticket?
                                p An electronic ticket or an e-ticket is an electronic document that certifies the contract of air transportation between the passenger and the airline. In fact, this is an electronic form of a familiar paper ticket.
                                h6 How to book a ticket?
                                p An electronic ticket or an e-ticket is an electronic document that certifies the contract of air transportation between the passenger and the airline. In fact, this is an electronic form of a familiar paper ticket.
                                h6 How to return an air ticket?
                                p An electronic ticket or an e-ticket is an electronic document that certifies the contract of air transportation between the passenger and the airline. In fact, this is an electronic form of a familiar paper ticket.
                        .swiper-slide
                            .question__content(id="accordion-1")
                                h6 How early can I book a ticket?
                                p An electronic ticket or an e-ticket is an electronic document that certifies the contract of air transportation between the passenger and the airline. In fact, this is an electronic form of a familiar paper ticket.
                                h6 What payment methods do you have?
                                p An electronic ticket or an e-ticket is an electronic document that certifies the contract of air transportation between the passenger and the airline. In fact, this is an electronic form of a familiar paper ticket.
                                h6 Whwre can Irecieve a ticket?
                                p An electronic ticket or an e-ticket is an electronic document that certifies the contract of air transportation between the passenger and the airline. In fact, this is an electronic form of a familiar paper ticket.
                        .swiper-slide
                            .question__content(id="accordion-2")
                                h6 Can I choose a sits when I bye it?
                                p An electronic ticket or an e-ticket is an electronic document that certifies the contract of air transportation between the passenger and the airline. In fact, this is an electronic form of a familiar paper ticket.
                                h6 Can I recieve a discount for a group?
                                p An electronic ticket or an e-ticket is an electronic document that certifies the contract of air transportation between the passenger and the airline. In fact, this is an electronic form of a familiar paper ticket.
                                h6 How mach monney will I loose if I'll turn a ticket?
                                p An electronic ticket or an e-ticket is an electronic document that certifies the contract of air transportation between the passenger and the airline. In fact, this is an electronic form of a familiar paper ticket.
                        .swiper-slide
                            .question__content(id="accordion-3")
                                h6 Whwre can Irecieve a ticket?
                                p An electronic ticket or an e-ticket is an electronic document that certifies the contract of air transportation between the passenger and the airline. In fact, this is an electronic form of a familiar paper ticket.
                                h6 How to book a ticket?
                                p An electronic ticket or an e-ticket is an electronic document that certifies the contract of air transportation between the passenger and the airline. In fact, this is an electronic form of a familiar paper ticket.
                                h6 How to return an air ticket?
                                p An electronic ticket or an e-ticket is an electronic document that certifies the contract of air transportation between the passenger and the airline. In fact, this is an electronic form of a familiar paper ticket.
                        .swiper-slide
                            .question__content(id="accordion-4")
                                h6 What payment methods do you have?
                                p An electronic ticket or an e-ticket is an electronic document that certifies the contract of air transportation between the passenger and the airline. In fact, this is an electronic form of a familiar paper ticket.
                                h6 Can I recieve a discount for a group?
                                p An electronic ticket or an e-ticket is an electronic document that certifies the contract of air transportation between the passenger and the airline. In fact, this is an electronic form of a familiar paper ticket.
                                h6 Whwre can Irecieve a ticket?
                                p An electronic ticket or an e-ticket is an electronic document that certifies the contract of air transportation between the passenger and the airline. In fact, this is an electronic form of a familiar paper ticket.
                        //- <!-- Add Pagination -->
                    .swiper-pagination