.faq
    .container
        .row
            .col.col-12
                .title
                    p FAQ
        .row
            .col.col-6
                .swiper-container-2
                    .swiper-wrapper
                        .swiper-slide
                            .question__content
                                h6 What is an e-ticket?
                                p An electronic ticket or an e-ticket is an electronic document that certifies the contract of air transportation between the passenger and the airline. In fact, this is an electronic form of a familiar paper ticket.
                            .question__content
                                h6 How to book a ticket?
                            .question__content
                                h6 How to return an air ticket?
                        .swiper-slide Slide 2
                        .swiper-slide Slide 3
                        .swiper-slide Slide 4
                        .swiper-slide Slide 5
                        //- <!-- Add Pagination -->
                        .swiper-pagination