.offers
    .continer
        .title
            p Profitable offers
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                .background-image
                    .country
                        .country__discr
                            h1 Italy
                            p Probably, it is difficult to find a person who knows nothing about Italy. Artists, architects and writers sang, marveling at their beauty and diversity. Here come to see the work of...
                            a(href="http://") more
                        img(src="./images/Italy.jpg", alt="")
            .swiper-slide
                .background-image
                    .country
                        .country__discr
                            h1 France
                            p Probably, it is difficult to find a person who knows nothing about Italy. Artists, architects and writers sang, marveling at their beauty and diversity. Here come to see the work of...
                            a(href="http://") more
                        img(src="./images/France.jpg", alt="")
            .swiper-slide
                .background-image
                    .country
                        .country__discr
                            h1 Germany
                            p Probably, it is difficult to find a person who knows nothing about Italy. Artists, architects and writers sang, marveling at their beauty and diversity. Here come to see the work of...
                            a(href="http://") more
                        img(src="./images/Germany.jpg", alt="")
            .swiper-slide
                .background-image
                    .country
                        .country__discr
                            h1 Greece
                            p Probably, it is difficult to find a person who knows nothing about Italy. Artists, architects and writers sang, marveling at their beauty and diversity. Here come to see the work of...
                            a(href="http://") more
                        img(src="./images/Greece.jpg", alt="")
            .swiper-slide
                .background-image
                    .country
                        .country__discr
                            h1 Egypt
                            p Probably, it is difficult to find a person who knows nothing about Italy. Artists, architects and writers sang, marveling at their beauty and diversity. Here come to see the work of...
                            a(href="http://") more
                        img(src="./images/Egypt.jpg", alt="")
            .swiper-slide
                .background-image
                    .country
                        .country__discr
                            h1 Maldives
                            p Probably, it is difficult to find a person who knows nothing about Italy. Artists, architects and writers sang, marveling at their beauty and diversity. Here come to see the work of...
                            a(href="http://") more
                        img(src="./images/Maldives.jpg", alt="")
            
        //- Add Pagination
        .swiper-pagination