.services
    .container
        .title
            p Services
            p for travelers
    .row
        .col.col-12
            .swiper-container-1 
                .swiper-wrapper 
                    .swiper-slide
                        img(src="./images/Airport_directory.jpg", alt="")
                        a.discr(href="http://")
                            h2 Airports directory
                            p All world airports
                    .swiper-slide
                        img(src="./images/Chip_Flights.jpg", alt="")
                        a.discr(href="http://")
                            h2 Chip flights
                            p Dynamics of prices for air travel
                    .swiper-slide
                        img(src="./images/Helping_Travelers.jpg", alt="")
                        a.discr(href="http://")
                            h2 Helping travelers
                            p Maps of places to visit
                    .swiper-slide
                        img(src="./images/Most_popular.jpg", alt="")
                        a.discr(href="http://")
                            h2 Most popular
                            p Countries and places of interest
                //- <!-- Add Pagination -->
                //- .swiper-pagination
                //- <!-- Add Arrows -->
                .swiper-button-next
                .swiper-button-prev