.support
    button
        a(href="#modal") Support
.remodal(data-remodal-id="modal")
    button.remodal-close(data-remodal-action="close")
    .form-group
        input.form-control(type="text" id="name" required)
        label.form-control-placeholder(for="name") Your question
    p.tel__form Phone format +3 0ХХ ХХХ ХХ ХХ
        .form-group
            input.form-control(type="text" id="name" required)
            label.form-control-placeholder(for="name") Your phone nomber
    .submit
        button.button
            span Call me
            img.arrow(src="./images/arrow.svg", alt="")


    