@import '_normalize.scss';
@import 'bootstrap-4.2.1/scss/bootstrap.scss';
@import '_variables.scss';
@import '_global.scss';
@import '_utilities.scss';
@import './blocks/_blocks.scss';

body {
    background-position: top;
    // background-image: url(../images/Bunner.jpg);
    background-image: url(../images/Landing_page.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 5050px;
}