@import 'normalize';
@import 'bootstrap-4.2.1/scss/bootstrap';
@import 'variables';
@import 'global';
@import 'utilities';
@import './blocks/blocks';
@import 'main/calculator';
@import 'main/offers';
@import 'main/services';
@import 'main/faq';
@import 'main/mob_app';
@import 'main/advantages';

body {
    background-position: top;
    // background-image: url(../images/Bunner.jpg);
    background-image: url(../images/Landing_page.jpg);
    // background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 5050px;
}